<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body>
    <div id="container"></div>

    <script type="text/javascript">
      //Define a global variable "socketPort" to provide front with the port
      //where the server is launched
      var socketPort = {{.Port}};
      var host = {{.Host}};
    </script>
    <script src="/public/js/bundle.js"></script>
  </body>
</html>
